<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="/">
    <img src="https://www.johnhiggins.io/images/logo.png" width="50" height="50" alt="JH Logo">
  </a>

  <button 
  	class="navbar-toggler" 
	  	type="button" 
	  	data-toggle="collapse" 
	  	data-target="#navbarSupportedContent" 
	  	aria-controls="navbarSupportedContent" 
	  	aria-expanded="false" 
	  	aria-label="Toggle navigation"
  	><span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav align-items-center links">
      <li class="nav-item active">
        <a class="nav-links" href="/about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-links" href="/portfolios"	>Portfolio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-links" href="/blogs">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-links" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  function toggleDropdown() {
    let dropDownClassName = document.querySelector('.collapse')

    if (dropDownClassName.className === "collapse navbar-collapse justify-content-end") {
      dropDownClassName.className = "collapse navbar-collapse justify-content-end show";
    } else {    
      dropDownClassName.className = "collapse navbar-collapse justify-content-end";
    }
  }

  document.querySelector('.navbar-toggler').addEventListener("click", toggleDropdown)
</script>